/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting up basic styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header styles */
header {
  background-color: #cad4eeb1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  font-family: "Forum", serif;
  font-weight: 600;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-right: 20px;
}
nav {
  padding-top: 0.35em;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #0e3f72;
}

/* Main content styles */
main {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 0;
}

.search {
  margin-bottom: 20px;
}

.search input[type="search"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* SearchResult styles */
.allBooksCard,
.chosenBook {
  background-color: #cad4eeb1;
  border-radius: 10px;
  box-shadow: 0 0.4em rgba(77, 75, 75, 0.1);
  padding: 20px;
  width: 100%;
}
.allBooksCard {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.showAllBooks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.imgAndName {
  width: 40%;
}
.imgAndName #name {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  padding-bottom: 0.7em;
}
.chosenBook {
  width: 60%;
  display: none;
  visibility: hidden;
  background-color: #adc0efe2;
  opacity: 0;
  padding: 3em;
  height: 80vh;
  position: fixed;
  top: 3em;
  right: 17em;
  overflow-y: auto;
  transition: opacity 0.3s, visibility 0.3s, display 0.3s;
}
.chosenBook p {
  color: #272727;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}
.chosenBookData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5em;
  padding-left: 1em;
}
.chosenBookData button {
  background-color: #eee;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  width: 7em;
  border-radius: 1rem;
  color: rgb(17, 12, 12);
  box-shadow: 0 0.4rem #b5b1b1;
  cursor: pointer;
}
.chosenBookData button:active {
  color: white;
  box-shadow: 0 0.2rem #5f5c5c;
  transform: translateY(0.2rem);
}
.chosenBookData button:hover:not(:disabled) {
  background: rgb(234, 157, 157);
  color: black;
  text-shadow: 0 0.1rem #ddd2d2;
}
.chosenBookData #plus:hover:not(:disabled) {
  background: rgb(170, 244, 188);
  color: black;
  text-shadow: 0 0.1rem #ddd2d2;
}
.chosenBookData button:disabled {
  cursor: auto;
  color: grey;
}
.search {
  display: flex;
}
.book {
  border-radius: 25px;
  padding: 20px;
  background-color: #fffefe;
  box-shadow: 0 0.4rem #b5b1b1;
  width: calc(20% - 20px);
  margin: 10px;
  height: 340px; /* Set a fixed height for all books */
  overflow: hidden;
}

.book p {
  padding-block: 0.5em;
  font-size: small;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
  color: #333;
}
.book .bookName {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #050404;
}
.book .bookName:hover {
  overflow: visible;
  transition: 0.3 2s ease-in-out;
}
.book:hover {
  background-color: hsla(0, 100%, 100%, 0.475);
  color: white;
  cursor: pointer;
}
span {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  font-style: normal;
  color: #050404;
}
.paginateButtons {
  display: flex;
  align-items: center;
  padding-top: 1em;
  gap: 0.5em;
  justify-content: center;
}
.paginateButtons button {
  background-color: #eee;
  border: none;
  padding: 0.6rem;
  font-size: 0.9rem;
  width: 5em;
  border-radius: 1rem;
  color: rgb(71, 67, 67);
  box-shadow: 0 0.4rem #b5b1b1;
  cursor: pointer;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.buttonsUpper {
  display: flex;
  align-items: center;
  padding: 1em 0 1em 0;
  gap: 0.5em;
  justify-content: flex-start;
}
.buttonsUpper button {
  font-family: "Tinos", serif;
  font-weight: bold;
  font-style: italic;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 1rem;
  width: 4em;
  border-radius: 0;
  color: rgb(86, 83, 83);
  box-shadow: none;
  cursor: pointer;
}
.buttonsUpper button:hover:not(:disabled) {
  color: rgb(44, 45, 76);
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  text-shadow: none;
}
.close {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 900;
  left: 51em;
  bottom: 3em;
}
