/* Table styles */
header{
  font-family: "Forum", serif;
  font-weight: 600;
  font-style: normal;
  padding: 31px 20px;
}
main{
display: flex;
flex-direction: column;
}
nav ul{
  padding: 0;
}
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #333;
  text-transform: uppercase;
}

table tr:hover {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Table heading */
th {
  font-weight: bold;
  text-align: left;
}

td {
  font-size: 14px;
}
.pagination{
  display: flex;
  justify-content: center;
  gap: 1em;
  
}
@media only screen and (max-width: 600px) {
  body{
    width: 100%!important;
    font-size: smaller !important;
    display: block;
  }
  header{
    width: 100%!important;
    padding-left: 1em;
    padding-right: 1em;

  }
  nav{
    margin-left: 0;
    padding-left: 0;
    justify-content: flex-start;
  }
  table{
    word-wrap: normal;
  }
  td{
    padding: 0!important;
  }
  th{
    padding: 0!important;
  }
  tr{
    padding: 0!important;
  }
}

